# Visual Studio cache/options directories
.vs/
[Oo]bj/
[Bb]in/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
packages/
**/packages/*
!**/packages/build/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# ASP.NET Core
appsettings.Development.json
appsettings.Production.json
*.pem
*.key